[package]
name = "bevy-gaussian-splatting"
version = "1.0.0"
edition = "2021"
authors = ["mosure <mitchell@mosure.me>"]
exclude = ["dist", "build", "assets", "credits"]


[dependencies]
bevy = { version = "0.11.2", default-features=false, features = [
  "animation",
  "bevy_animation",
  "bevy_asset",
  "bevy_core_pipeline",
  "bevy_gltf",
  "bevy_pbr",
  "bevy_render",
  "bevy_scene",
  "bevy_sprite",
  "bevy_text",
  "bevy_ui",
  "bevy_winit",
  "dds",
  "filesystem_watcher",
  "jpeg",
  "ktx2",
  "zstd",
  "png",
]}


[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.7"
wasm-bindgen = "0.2.87"

[dependencies.web-sys]
version = "0.3.4"
features = [
  'Document',
  'Element',
  'HtmlElement',
  'Node',
  'Window',
]


[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 1

[profile.release]
lto = "thin"
codegen-units = 1
opt-level = 3

[profile.wasm-release]
inherits = "release"
opt-level = "z"
lto = "fat"
codegen-units = 1
