[package]
name = "bevy_gaussian_splatting"
description = "bevy gaussian splatting render pipeline plugin"
version = "0.1.0"
edition = "2021"
authors = ["mosure <mitchell@mosure.me>"]
license = "MIT"
keywords = ["bevy", "gaussian-splatting", "render-pipeline", "ply"]
categories = ["computer-vision", "graphics", "rendering", "rendering::data-formats"]
homepage = "https://github.com/mosure/bevy_gaussian_splatting"
repository = "https://github.com/mosure/bevy_gaussian_splatting"
readme = "README.md"
exclude = [".devcontainer", ".github", "docs", "dist", "build", "assets", "credits"]

[dependencies]
bevy = "0.11.2"
bevy_panorbit_camera = "0.8.0"
bytemuck = "1.14.0"
ply-rs = "0.1.3"


[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.7"
wasm-bindgen = "0.2.87"

[dependencies.web-sys]
version = "0.3.4"
features = [
  'Document',
  'Element',
  'HtmlElement',
  'Node',
  'Window',
]


[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 1

[profile.release]
lto = "thin"
codegen-units = 1
opt-level = 3

[profile.wasm-release]
inherits = "release"
opt-level = "z"
lto = "fat"
codegen-units = 1


[[example]]
name = "aabb"
path = "examples/aabb.rs"

[[example]]
name = "cov2d"
path = "examples/cov2d.rs"

[[example]]
name = "cov3d"
path = "examples/cov3d.rs"

[[example]]
name = "gaussian_cube"
path = "examples/gaussian_cube.rs"

[[example]]
name = "obb"
path = "examples/obb.rs"
